body{
  margin: 0px;
  padding: 0px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

p{
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

.grid-container{
  margin: 0px auto;
  max-width: 980px;
}

header img{
  width: 50%;
  height: 80px;
  display: block;
  margin: 0px auto;
  margin-bottom: 10px;
}

.header__nav{
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}

.header__nav p{
  margin-top: 0px;
  margin-bottom: 10px;
}

/*Se cran estilos del main*/

.articles__container{
  display: grid;
  grid-template-columns: .5fr 3fr .3fr;
  grid-template-rows: 1fr auto 2fr;
  grid-template-areas: "left first"
                       "left second"
                       "left tree";
  grid-column-gap: 5px;
}

/*Estilos de la barra lateral*/

.article__left{
    grid-area: left;
    border-right: 2px solid black;
    padding-right: 5px;
    margin: 5px 0px;
}

.article__left-title{
  text-align: center;
  margin: 0px auto;
  height: auto;
  font-size: 20px;
}

.article__left-title h2{
  margin: 5px 0px 10px 0px;
  line-height: 25px;
}

.article__left-title h3{
    margin: 5px 0px 10px 0px;
    text-align: center;
}

.article__left-title p{
  margin: 10px 0px;
  font-size: 18px;
}

.span{
    display: block;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0px auto;
}

.article__left-content p:nth-of-type(1) {
  margin: 10px 0px;
  text-align: center;
}

/*Estilos del primer articulo*/

.article__first{
  grid-area: first;
  border-bottom: 2px solid black;
}

.article__first-image{
  width: 100%;
  margin-top: 5px;
}

.article__first-title{
  margin-top: 10px;
}

.article__first-content{
  margin-bottom: 10px;
}

/*Estilos del segundo articulo*/

.article__second{
  grid-area: second;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 1fr;
  grid-template-areas: "title title title title"
                       "colum1 colum2 colum3 colum4";
  border-bottom: 2px solid black;
  grid-column-gap: 10px;
}

.article__second-title{
  grid-area: title;
  margin-top: 10px;
}

.colum{
  margin-bottom: 10px;
}

.colum1 p:nth-of-type(1){
  width: 50%;
  border-top: 2px solid black;
  margin: 5px  auto 10px auto;
  padding-top: 5px;
  text-align: center;
}